*{
  margin: 0;
  padding: 0;
}
body{
  background:url("../images/3958.jpg") 50% 50% no-repeat;
  background-color: black;
  background-size: auto;
  color: white;
}
@font-face {
  font-family: "SquareFont";
  src: url(../fonts/Square.ttf);
}

article{
  width: 400px;
  margin: 0 auto;
  background: black;
  color: red;
  font-family: calibri;
  border-radius: 10px;
  text-align: center;
}

#wrap{
  background:url("../images/1284.jpg") 50% 50% no-repeat;
  height: 92vh;
  border-radius: 10px;
  text-align: center;
  padding-top: 50px;
}
#tableau1{
  display: block;
  position: relative;
   margin-left: 40%;
  /* margin-top: 50px; */
  background-color: mediumspringgreen;
  width: 292px;
  border-radius: 10px;
}


.title{
  color: silver;
  font-family: impact;
  text-align: center;
}

#screen{
  position: relative;
  background-color: black;
  color: silver;
  width: 90%;
  height: 90%;
  font-family: "SquareFont";
  text-align: right;
  font-size: 30px;
}
#tableau1 tr:nth-child(1) td{
  background-color: black;
  height:50px;
}
#tableau1 tr:nth-child(2) td{
  background-color: black;
  width: 200px;
  height: 75px;
  border: 1px solid silver;
  text-align: center;
  line-height: 50px;
}
.btn{
  width: 50px;
  height: 50px;
}

.btnColspan2{
  position: relative;
  width: 100%;
  height: 50px;
}

.btn:hover, .btnColspan2:hover{
  background-color: mediumspringgreen;
  cursor: pointer;
}

.btn:active, .btnColspan2:active{
  background-color: silver;
  cursor: pointer;
}

#tableau1 tr td{
  background-color: silver;
  border: 1px solid silver;
  border-collapse: collapse;
  padding: 2px;
  border-radius: 10px;
}

.inactive{
  background-color: #ff0000;
  color: white;
}
